#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

alias utc="date -u && date -u +%s"

# Work
alias format="make format"
alias fmat=format
alias lint="make lint"
alias lnt=lint

# python
alias python=python3

# git
alias remote='git remote -v'

# nvm
alias loadnvm='[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"'

# single character aliases - be sparing!
alias _=sudo
alias l=ls
alias g=git

# more ways to ls
alias la='ls -A'
alias ll='ls -lAh'
alias ldot='ls -ld .*'

# fix common typos
alias quit='exit'
alias cd..='cd ..'

# find
alias fd='find . -type d -name'
alias ff='find . -type f -name'

# url encode/decode
alias urldecode='python3 -c "import sys, urllib.parse as ul; \
    print(ul.unquote_plus(sys.argv[1]))"'
alias urlencode='python3 -c "import sys, urllib.parse as ul; \
    print (ul.quote_plus(sys.argv[1]))"'

# misc
alias zshrc='${EDITOR:-nano} "${ZDOTDIR:-$HOME}"/.zshrc'
alias zdot='cd ${ZDOTDIR:-~}'
alias ip="curl http://ipecho.net/plain; echo"
alias myip=ip

# functions

# Git repository aliases
repo() {
  # Usage:
  # `repo pulls`
  # `repo pull 123`
  # `repo issues`
  # `repo issues 456`
  open "$(git config --get remote.origin.url | sed 's|git@\(.*\):\(.*\)\.git|https://\1/\2|')/$1/$2"
}

branch() {
  # Usage: `branch`
  # Opens current branch on the web
  local branch=$(git rev-parse --abbrev-ref HEAD)
  open "$(git config --get remote.origin.url | sed 's|git@\(.*\):\(.*\)\.git|https://\1/\2|; s|\.git$||')/tree/$branch"
}

function pull-fork() {
  # Fetch and check out a branch from a fork
  # e.g. pull code from someone elses fork for PR reviews and edits

  if [ -z "$1" ]; then
    echo "Usage: pull-fork <author/contributor> [branch]"
    return 1
  fi
  author="$1"
  branch="${2:-main}"
  repo=$(basename -s .git "$(git config --get remote.origin.url)")
  remote_url="https://github.com/${author}/${repo}.git"
  git remote add "$author" "$remote_url" 2>/dev/null || git remote set-url "$author" "$remote_url"
  git fetch "$author"
  git checkout -B "$author/$branch" "$author/$branch"
}
